@font-face {
    font-family: "Work Sans Extra Bold";
    src: url('./Assets/WorkSans/static/WorkSans-ExtraBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: "Work Sans Bold";
    src: url('./Assets/WorkSans/static/WorkSans-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: "Work Sans Semi Bold";
    src: url('./Assets/WorkSans/static/WorkSans-SemiBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: "Work Sans Reg";
    src: url('./Assets/WorkSans/static/WorkSans-Regular.ttf') format('truetype');
    font-display: swap;
}