body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* To add back when mobile and desktop versions are setup
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  */
  font-size: 8px;
}

/* To add back when mobile and desktop versions are setup
::-webkit-scrollbar {
  display: none;
} */


